<%= render partial: "layouts/merchant_header", locals: {page_name: @merchant.name, merchant_id: @merchant.id}%>

<h2> Discount ID: <%= @discount.id %></h2>
<h4> Quantity Threshold: <%= @discount.threshold %></h4>
<h4> Discount Amount: <%= @discount.amount %>% </h4>

<%= link_to "Edit Discount", edit_merchant_bulk_discount_path(@merchant, @discount) %>